@use "../../foundation/mixin";
@use "../../foundation/variables" as val;

.c-circle {
  &--large {
    width           : 56px;
    height          : 56px;
    border-radius   : 50%;
    background-color: val.$mainColor;
    box-shadow      : inset 2px 2px 5px rgba(78, 86, 104, 0.55);
    &--white {
      @extend .c-circle--large;
      background-color: val.$gray;
      box-shadow      : inset 2px 2px 5px rgba(95, 95, 95, 0.6);
    }
    &--red {
      @extend .c-circle--large;
      background-color: val.$paleColor;
      box-shadow      : inset 2px 2px 5px rgba(66, 61, 60, 0.45);
    }
  }
  &--small {
    width           : 15px;
    height          : 15px;
    border-radius   : 50%;
    background-color: val.$mainColor;
    box-shadow      : inset 2px 2px 5px rgba(78, 86, 104, 0.55);
    &--white {
      @extend .c-circle--small;
      background-color: val.$gray;
      box-shadow      : inset 1.5px 1.5px 3px rgba(71, 65, 64, 0.5);
    }
    &--red {
      @extend .c-circle--small;
      background-color: val.$paleColor;
      box-shadow      : inset 2px 2px 5px rgba(66, 61, 60, 0.45);
    }
  }
  &__gap {
      width           : 10px;
      height          : 10px;
      border-radius   : 50%;
      background-color: val.$mainColor;
      box-shadow      : inset 2px 2px 5px rgba(78, 86, 104, 0.55);
  }
}