@use "../../foundation/mixin";

.c-img {
  &__background--header--sp {
    width : 100vw;
    height: auto;
  }
  &__background--header--pc {
    width : 100vw;
    height: auto;
    @include mixin.media(pc) {
      width: min(85vw, 1632px);
    }
  }
  &__title--header--front {
    width : max(50vw, 190px);
    height: auto;
    @include mixin.media(tab) {
      width: min(30vw, 576px);
    }
  }
  &__main--header--sp {
    width : 100vw;
    height: auto;
  }
  &__main--header--pc {
    width : 100vw;
    height: auto;
  }
  &__catchcopy--pc {
    width : 32vw;
    height: auto;
  }
  &__catchcopy--sp {
    width : 43vw;
    height: auto;
  }
  &__present {
    width : 31vw;
    height: auto;
    @include mixin.media(pc) {
      width : 20vw;
      height: auto;
    }
  }
  &__profile {
    
  }
  &__work {
    width        : 100%;
    height       : auto;
    object-fit   : contain;
    border-radius: 9px;
  }
  &__form {
    object-fit: contain;
    @include mixin.media(pc) {
      width : min(170px, 12vw);
      height: auto;
    }
  }
  &__human {
    height    : 50vw;
    object-fit: contain;
    @include mixin.media(tab) {
      width : min(24vw,170px);
      height: auto;
    }
  }
  &__link--footer--twitter {
    object-fit: contain;
    @include mixin.media(pc) {
      width: auto;
      height: 90%;
    }
  }
  &__link--footer--instagram {
    object-fit: contain;
    @include mixin.media(pc) {
      width: auto;
      height: 80%;
    }
  }
  &__link--footer--mail {
    object-fit: contain;
    @include mixin.media(pc) {
      width: auto;
      height: 90%;
    }
  }
}
