@use "../../foundation/mixin";
@use "../../foundation/variables" as val;

.p-contact {
  &__wrapper {
    position  : relative;
    margin-top: 100px;
    padding   : 0 20px;
    overflow  : hidden;
  }
  &__caption {
    padding      : 22px 12px 24px 27px;
    margin       : 115px auto 0 auto;
    width        : min(95%, 535px);
    height       : auto;
    background   : #FDFDFD;
    border       : 0.1px solid #157788;
    border-radius: 16px;
    box-shadow   : 16px 20px rgb(176 207 213 / 30%);
    @include mixin.media(pc) {

    }
  }
  &__outer {
    display          : flex;
    justify-content  : center;
    align-items      : center;
    margin           : 80px auto 0 auto;
    width            : 335px;
    height           : 533px;
    background-color : val.$white;
    border-radius    : 4px;
    box-shadow       : 0.25px 0.25px 1.5px rgba(66, 61, 60, 0.3);
    @include mixin.media(pc) {
      position: relative;
      width   : 760px;
      height  : 568px;
    }
  }
  &__inner {
    width            : 95%;
    height           : 98%;
    background-image : url("@images/front-page_contact_form_background_blue_sp.svg"), url("@images/front-page_contact_form_background_pink_sp.svg");
    background-repeat: no-repeat;
    background-size  : 100%;
    padding          : 28px;
    @include mixin.media(pc) {
      background-image: url("@images/front-page_contact_form_background_blue_pc.svg"),url("@images/front-page_contact_form_background_pink_pc.svg");
      padding         : 40px;
    }
  }
  &__form--img--human {
    display: none;
    @include mixin.media(pc) {
      display : block;
      position: absolute;
      bottom  : 0;
      right   : 100%;
      z-index : -1;
    }
  }
  &__thank {
    position: relative;
    width   : 100%;
    height  : 50vw;
    @include mixin.media(tab) {
      position  : static;
      height    : auto;
      margin    : 100px 0;
    }
    @include mixin.media(pc) {
      width : 100%;
      height: auto;
    }
  }
  &__one-word {
    position: absolute;
    bottom  : 30%;
    left    : 25%;
    @include mixin.media(tab) {
      position  : static;
      text-align: center;
    }
  }
  &__img--human {
    position: absolute;
    bottom  : 0;
    z-index : -1;
    @include mixin.media(tab) {
      bottom: 10%;
      right : 75%;
    }
    @include mixin.media(pc) {
      display: none;
    }
  }
  &__img--airplane {
    //position: absolute;
    position: absolute;
    top     : 8%;
    right   : 1vw;
    width   : min(30vw, 135px);
    height  : min(27vw, 122px);
    z-index : -1;
    @include mixin.media(pc) {
      display: none;
    }
    img:first-of-type {
      position: absolute;
      top     : 0;
      left    : 35%;
      z-index : 99;
      @include mixin.animation(
      $name           :airplaneUpDown,
      $duration       : 3s,
      $iteration-count: infinite,
      $timing-function: linear
    );
    }
    img:last-of-type {
      position: absolute;
      top     : 50%;
      left    : 0;
      z-index : 100;
    }
  }
  &__form--img--airplane {
    display: none;
    @include mixin.media(pc) {
      display : block;
      position: absolute;
      top     : 30%;
      left    : 104%;
      width   : min(30vw, 135px);
      height  : min(27vw, 122px);
      z-index : -1;
      img:first-of-type {
        position: absolute;
        top     : 0;
        left    : 35%;
        z-index : 99;
        @include mixin.animation(
        $name           :airplaneUpDown,
        $duration       : 3s,
        $iteration-count: infinite,
        $timing-function: linear
      );
      }
      img:last-of-type {
        position: absolute;
        top     : 50%;
        left    : 0;
        z-index : 100;
      }
    }
  }
}

@keyframes airplaneUpDown {
  0% {
    transform: translate(0);
  }
  12% {
    transform: translateY(5px);
  }
  24% {
    transform: translateY(10px);
  }
  36% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0px);
  }
  62% {
    transform: translateY(-5px);
  }
  74% {
    transform: translateY(-10px);
  }
  86% {
    transform: translateY(-5px);
  }
  100% {
    transform: translate(0);
  }

}