@use "../../foundation/mixin";
@use "../../foundation/variables" as val;

.p-footer {
  margin-top: 16px;
  width: 100%;
  &__box {
    display: flex;
    justify-content: center;
    align-items    : center;
    width          : max(95%, 355px);
    height         : 110px;
    background     : rgba(176, 207, 213, 0.3);
    box-shadow     : inset 2px 2px 5px rgba(78, 86, 104, 0.55);
    border-radius  : 72px 0px 0px 0px;
    margin         : 0 0 0 auto;
    padding        : 0 32px;
    @include mixin.media(tab) {
      justify-content: space-between;
      padding: 0 75px;
      height         : 80px;
      border-radius  : 54px 0px 0px 0px;
    }
    @include mixin.media(pc) {
      position: relative;
      width: max(58vw, 830px);
      max-width: 830px;
      height: 135px;
      margin: 0 auto;
    }
  }
  &__link {
    margin-right: 32px;
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mixin.media(tab) {
      margin-right: 0;
    }
    @include mixin.media(pc) {
      width: 160px;
    }
    a {
      display: inline-block;
      position: relative;
      width: 30px;
      height: 30px;
      @include mixin.media(pc) {
        width: 40px;
        height: 40px;
      }
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }
  &__title {
    margin-left: 32px;
    text-align: center;
    transform: translateY(15%);
    @include mixin.media(tab) {
      margin-left: 0;
    }
  }
  &__btn {
    display: none;
    @include mixin.media(pc) {
      display : block;
      position: absolute;
      bottom  : 0;
      right   : -5%;
    }
    &::before {
      content: "";
      position    : absolute;
      top         : 33px;
      left        : 50%;
      width       : 10px;
      height      : 50px;
      border-top  : 1.5px solid #333333;
      border-right: 0.5px solid #333333;
      transform   : translateX(-80%) skewY(-45deg);
    }
    p {
      position: absolute;
      bottom   : 20px;
      left     : 50%;
      transform: translateX(-50%);
    }
  }
}
