@use "../../foundation/mixin";
@use "../../foundation/variables" as val;

.p-header {
  &__content {
    position: relative;
    z-index : 100;
  }
  &__background--sp {
    position: absolute;
    top     : 0;
    right   : 0;
    z-index : 101;
    @include mixin.media(tab) {
      display: none;
    }
  }
  &__background--pc {
    display: none;
    @include mixin.media(tab) {
      position: absolute;
      z-index : 101;
      display : block;
      top     : 0;
      right   : 0;
    }
    @include mixin.media(pc) {
      right: 0;
    }
  }
  &__title {
    display        : flex;
    justify-content: center;
    position       : absolute;
    top            : 4%;
    left           : 50%;
    transform      : translateX(-50%);
    z-index        : 102;
    @include mixin.media(tab) {
      top: 2%;
    }
  }
  &__main {
    position: relative;
    @include mixin.media(pc) {
      padding-top: 15vw;
    }
  }
  &__img--sp {
    @include mixin.media(pc) {
      display: none;
    }
  }
  &__img--pc {
    display: none;
    @include mixin.media(pc) {
      display: block;
    }
  }
  &__catchcopy--pc {
    display: none;
    @include mixin.media(pc) {
      display  : block;
      position : absolute;
      top      : 50%;
      left     : 50%;
      z-index  : 102;
      transform: translateX(-50%);
    }
  }
  &__catchcopy--sp--lv1 {
    position: absolute;
    top     : 35%;
    right   : 28%;
    z-index : 102;
    @include mixin.media(pc) {
      display: none;
    }
  }
  &__catchcopy--sp--lv2 {
    position: absolute;
    top     : 56%;
    right   : 15%;
    z-index : 102;
    @include mixin.media(pc) {
      display: none;
    }
  }
  &__present {
    position: absolute;
    top     : 51%;
    left    : 7%;
    z-index : 99;
    @include mixin.animation(
      upDown,
      $duration: 5s,
      $iteration-count: infinite,
      $timing-function: linear
    );
    @include mixin.media(pc) {
      top : 26%;
      left: 18%;
    }
  }
  &__nav {
    display         : none;
    position        : absolute;
    top             : 0;
    right           : -100%;
    z-index         : 103;
    width           : 100%;
    height          : 100%;
    background-color: rgba($color: #000000, $alpha: 0.2);
    &::before {
      content         : "";
      position        : absolute;
      top             : 0;
      right           : 0;
      background-color: val.$mainColor;
      width           : 50%;
      height          : 100%;
    }
    @include mixin.media(pc) {
      display         : block;
      position        : static;
      background-color: transparent;
      &::before {
        display: none;
      }
    }
  }
  &__close--btn {
    position: absolute;
    top     : 8%;
    right   : 14%;
    z-index : 106;
    @include mixin.media(pc) {
      display: none;
    }
  }
  &__menu {
    position: absolute;
    top     : 20%;
    left    : 70%;
    z-index : 104;
    width   : auto;
    @include mixin.media(pc) {
      top   : 3%;
      left  : 86%;
      height: auto;
    }
  }
  &__list {
    width     : 80px;
    height    : auto;
    text-align: right;
  }
  &__item {
    padding: 5px 0;
    margin : 5px 0;
    @include mixin.media(pc) {

    }
  }
  &__open--btn {
    position: fixed;
    top     : 6.5%;
    right   : 10%;
    z-index : 104;
    @include mixin.media(tab) {
      top  : 3.5%;
      right: 5%;
    }
    @include mixin.media(pc) {
      display: none;
    }
  }
}

@keyframes upDown {
  0% {
    transform: translate(0);
  }
  12% {
    transform: translateY(10px);
  }
  24% {
    transform: translateY(20px);
  }
  36% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0px);
  }
  62% {
    transform: translateY(-10px);
  }
  74% {
    transform: translateY(-20px);
  }
  86% {
    transform: translateY(-10px);
  }
  100% {
    transform: translate(0);
  }

}
