@use "../../foundation/mixin";
@use "../../foundation/variables" as val;

.p-production {
  &__wrapper {
    width              : 100%;
    background-image   : url("@images/work-page_work_background_sp.svg");
    background-repeat  : no-repeat;
    background-position: top center;
    background-size    : 100vw;
    margin-bottom      : 56px;
    @include mixin.media(pc) {
      background-image: url("@images/work-page_work_background_pc.svg");
      overflow        : hidden;
      margin-bottom   : 76px;
    }
  }
  &__box {
    display       : flex;
    flex-direction: column;
    padding       : 70px 20px 50px 20px;
    @include mixin.media(pc) {
      display              : grid;
      grid-template-columns: 1fr 1fr;
      //grid-template-rows   : minmax(auto, 400px) auto;
      grid-auto-rows       : auto;
      grid-auto-columns    : auto;
      column-gap           : 106px;
      width                : min(65vw, 944px);
      margin               : 187px auto 0 auto;
      padding              : 0;

    }
  }

  //タイトル
  &__area--title {
    width       : 100%;
    padding-left: 30px;
    @include mixin.media(pc) {
      width: 100%;
      grid-column : 2/3;
      grid-row    : 1/2;
      padding-left: 0;
    }
  }
  &__day {

  }
  &__heading {

  }
  &__title--client {

  }
  &__title--product {

  }
  &__lead {

  }
  &__weapon {
    display       : flex;
    flex-direction: row;
    dd {
      margin-left: 10px;
    }
  }
  &__period {
    display       : flex;
    flex-direction: row;
    dd {
      margin-left: 20px;
    }
  }
  //概要
  &__outline {
    width           : 100%;
    height          : auto;
    margin-top      : 34px;
    div {
      background-color: val.$gray;
      border-radius   : 4.2vw;
      padding         : 0px 24px 24px 24px;
    }
    img {
      width     : 100%;
      object-fit: contain;
      margin-top: 24px;
    }
    @include mixin.media(pc) {
      width      : 100%;
      grid-column: 1/2;
      grid-row   : 1/3;
      margin-top : 0;
      div {
        border-radius: 16px;
      }
    }
  }
  //詳細
  &__detail {
    @include mixin.media(pc) {
    width      : 100%;
    grid-column: 1/3;
    grid-row   : 3/4;
    }
  }
  &__item--detail {
    display         : flex;
    flex-direction  : column;
    row-gap         : 24px;
    width           : 100%;
    height          : auto;
    background-color: val.$gray;
    border-radius   : 4.2vw;
    padding         : 24px 24px 24px 24px;
    margin-top      : 24px;
    @include mixin.media(pc) {
      flex-direction : row;
      flex-wrap      : wrap;
      row-gap: 24px;
      justify-content: space-around;
      border-radius  : 22px;
      
    }
  }
  &__item--detail--pc {
    @extend .p-production__item--detail;
    display: none;
    @include mixin.media(pc) {
      display: flex;
    }
  }
  &__unit--detail {
    display       : flex;
    flex-direction: column;
    p {
      display: none;
    }
    img {
      width     : 100%;
      object-fit: contain;
      //margin-top: 24px;
    }
    @include mixin.media(pc) {
      display       : flex;
      flex-direction: column;
      p {
        display    : block;
      }
      img {
        width: auto;
      }
    }
  }
  //説明
  &__area--about {
    width     : 100%;
    margin-top: 24px;
    @include mixin.media(pc) {
      width: 100%;
      grid-column: 2/3;
      grid-row: 2/3;
    }
  }
  &__flow {

  }
  &__sub-heading {

  }
  &__about {
    margin-top: 16px;
    dd {
      margin-left: 16px;
    }
  }
  &__text {
    dl,
    dt,
    p {
      margin-top: 20px;
    }
    dd {
      //text-indent: 24px;
    }

    span {
      background-color: rgba($color: #DEBEC3, $alpha:0.5);
    }
  }
  &__link {
    display    : flex;
    align-items: center;
    margin-top : 20px;
    img {
      object-fit: contain;
    }
    p {
      margin-top : 0;
      margin-left: 8px;
      font-family : 'Noto Sans JP', sans-serif;
      font-weight : 300;
      font-size   : 1.6rem;
      line-height : 2.8rem;
      color       : #144750;
    }
    a {
      border-bottom: 0.5px solid;
      font-family  : 'Noto Sans JP', sans-serif;
      font-weight  : 300;
      font-size    : 1.6rem;
      line-height  : 2.8rem;
      color        : #144750;
    }
  }
}
