@use "../../foundation/mixin";
@use "../../foundation/variables" as val;

.p-skill {
  &__wrapper {
    position: relative;
  }
  &__symbol--lv1 {

  }
  &__symbol--lv2 {
    
  }
  &__symbol--lv3 {
    
  }
  &__symbol--lv4 {
    
  }
  &__container {
    padding: 0 16px;
  }
  &__comment {
    position: relative;
    text-align:center;
    padding: 3vw 0;
    width: 100%;
    height: auto;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 8%;
      height: 100%;
      border-top: 1px solid #666666;
      border-left: 1px solid #666666;
      border-bottom: 1px solid #666666;
      border-radius: 15px 0 0 15px;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 80%;
      height: 50%;
      border-right: 1px solid #666666;
      border-bottom: 1px solid #666666;
      border-radius: 0 0 15px 0;
    }
    @include mixin.media(pc) {
      margin: 0 auto;
      padding: 0;
      line-height: 70px;
      width: 550px;
      height: 70px;
      &::before {
        border-radius: 24px 0 0 24px;
      }
      &::after {
        border-radius: 0 0 24px 0;
      }
    }
  }
  &__border {
    position: absolute;
    top: 93.7%;
    left: 10%;
    transform: rotate(145deg);
    height: 7.2vw;
    border-left: 1px solid #666666;
    @include mixin.media(pc) {
      top: 95%;
      left: 9.3%;
      height: 29px;
    }
  }
  &__graph {
    margin-top: 66px;
  }
}