@use "../../foundation/mixin";
@use "../../foundation/variables" as val;

.p-skill {
  &__wrapper {
    position  : relative;
    margin-top: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  &__symbol--lv1 {
    position : absolute;
    width    : 42vw;
    height   : auto;
    top      : 0%;
    left     : -27%;
    z-index  : -1;
    @include mixin.animation(
      reverseRotation,
      $duration: 10s,
      $iteration-count: infinite,
      $timing-function: linear
    );
    @include mixin.media(pc) {
      width: 335px;
      top: 13%;
      left: -15%;
    }
  }
  &__symbol--lv2 {
    position : absolute;
    width    : 42vw;
    height   : auto;
    top      : calc(52% + 50px);
    left     : -10%;
    z-index  : -1;
    @include mixin.animation(
      forwardRotation,
      $duration: 10s,
      $iteration-count: infinite,
      $timing-function: linear
    );
    @include mixin.media(pc) {
      width: 335px;
    }
  }
  &__symbol--lv3 {
    position : absolute;
    width    : 42vw;
    height   : auto;
    top      : 7%;
    left     : 75%;
    z-index  : -1;
    @include mixin.animation(
      forwardRotation,
      $duration: 10s,
      $iteration-count: infinite,
      $timing-function: linear
    );
    @include mixin.media(pc) {
      width: 335px;
      top  : 14%;
      left : 84%;
    }
  }
  &__symbol--lv4 {
    position : absolute;
    width    : 42vw;
    height   : auto;
    top      : calc(54% + 100px);
    left     : 64%;
    z-index  : -1;
    @include mixin.animation(
      forwardRotation,
      $duration: 10s,
      $iteration-count: infinite,
      $timing-function: linear
    );
    @include mixin.media(pc) {
      width: 335px;
      left : 86%;
    }
  }
  &__container {
    padding: 0 16px;
  }
  &__comment {
    position  : relative;
    text-align:center;
    padding   : 3vw 0;
    width     : 100%;
    height    : auto;
    margin-top: 80px;
    &::before {
      content: "";
      position     : absolute;
      top          : 0;
      left         : 0;
      width        : 8%;
      height       : 100%;
      border-top   : 1px solid #666666;
      border-left  : 1px solid #666666;
      border-bottom: 1px solid #666666;
      border-radius: 15px 0 0 15px;
    }
    &::after {
      content: "";
      position     : absolute;
      bottom       : 0;
      right        : 0;
      width        : 80%;
      height       : 50%;
      border-right : 1px solid #666666;
      border-bottom: 1px solid #666666;
      border-radius: 0 0 15px 0;
    }
    @include mixin.media(pc) {
      margin     : 80px auto 0 auto;
      padding    : 0;
      line-height: 70px;
      width      : 550px;
      height     : 70px;
      &::before {
        border-radius: 24px 0 0 24px;
      }
      &::after {
        border-radius: 0 0 24px 0;
      }
    }
  }
  &__border {
    position   : absolute;
    top        : 93.7%;
    left       : 10%;
    transform  : rotate(145deg);
    height     : 7.2vw;
    border-left: 1px solid #666666;
    @include mixin.media(pc) {
      top   : 95%;
      left  : 9.3%;
      height: 29px;
    }
  }
  &__graph {
    margin-top: 120px;
  }
  &__cat-group {
    position  : relative;
    width     : 100%;
    height    : 68vw;
    margin-top: 100px;
    @include mixin.media(pc) {
      position       : static;
      display        : flex;
      justify-content: space-between;
      width          : 760px;
      height         : 180px;
      margin-left    : auto;
      margin-right   : auto;
      transform: translateX(-22px);
    }
  }
  &__cat-item--deep {
    display            : flex;
    flex-direction     : column;
    justify-content    : center;
    align-items        : center;
    text-align         : center;
    width              : 24vw;
    height             : 24vw;
    @include mixin.backgroundCatFace(val.$catDeep);
    background-repeat  : no-repeat;
    background-position: center;
    background-size    : cover;
    @include mixin.media(pc) {
      width : 120px;
      height: 120px
    }
  }
  &__cat-item--light {
    @extend .p-skill__cat-item--deep;
    @include mixin.backgroundCatFace(val.$catLight, 0.3);
  }
  &__cat-item--brown {
    @extend .p-skill__cat-item--deep;
    @include mixin.backgroundCatFace(val.$catBrown);
  }
  &__cat-position--lv1 {
    position: absolute;
    top     : 0;
    left    : 3%;
    @include mixin.media(pc) {
      position: static;
    }
  }
  &__cat-position--lv2 {
    position : absolute;
    top      : 25%;
    left     : 50%;
    transform: translateX(-50%);
    @include mixin.media(pc) {
      position  : static;
      transform : translateX(0);
      align-self: flex-end;
    }
  }
  &__cat-position--lv3 {
    position: absolute;
    top     : 0;
    right   : 3%;
    @include mixin.media(pc) {
      position: static;
    }
  }
  &__cat-position--lv4 {
    position: absolute;
    bottom  : 0;
    left    : 15%;
    @include mixin.media(pc) {
      position  : static;
      align-self: flex-end;
    }
  }
  &__cat-position--lv5 {
    position: absolute;
    bottom  : 0;
    right   : 15%;
    @include mixin.media(pc) {
      position: static;
    }
  }
}

@keyframes forwardRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes reverseRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
  
}

