<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>front-page</title>
  <link rel="stylesheet" href="https://use.typekit.net/ffe5yoz.css">
  <script>
    (function (d) {
      var config = {
        kitId: 'adf1ial',
        scriptTimeout: 3000,
        async: true
      },
        h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
    })(document);
  </script>
</head>

<body>
  <div class="l-wrapper">
    <header class="l-header p-header__content">
      <img class="p-header__background--sp c-img__background--header--sp"
        src="<%= require('./images/header_background_sp.png') %>" alt="">
      <img class="p-header__background--pc c-img__background--header--pc"
        src="<%= require('./images/header_background_pc.png') %>" alt="">
      <div class="p-header__title">
        <img class="c-img__title--header--front" src="<%= require('./images/front-page_header_title.svg') %>"
          alt="フロントページシンボル">
      </div>
      <div class="p-header__main">
        <img class="p-header__img--sp c-img__main--header--sp"
          src="<%= require ('./images/front-page_header_background_sp.png') %>" alt="">
        <img class="p-header__img--pc c-img__main--header--pc"
          src="<%= require ('./images/front-page_header_background_pc.png') %>" alt="">
        <img class="p-header__catchcopy--pc c-img__catchcopy--pc" src="<%= require('./images/front-page_header_catchcopy_pc.png') %>" alt="">
        <img class="p-header__catchcopy--sp--lv1 c-img__catchcopy--sp" src="<%= require('./images/front-page_header_catchcopy1_sp.png') %>" alt="">
        <img class="p-header__catchcopy--sp--lv2 c-img__catchcopy--sp" src="<%= require('./images/front-page_header_catchcopy1_sp.png') %>" alt="">
        <img class="p-header__present c-img__present" src="<%= require ('./images/front-page_header_present.png') %>" alt="">
      </div>
      <nav class="p-header__nav">
        <button class="p-header__close--btn c-btn__nav--close"></button>
        <ul class="p-header__menu">
          <li class="p-header__list"><a class="c-font__list--header" href="">Top</a></li>
          <li class="p-header__list"><a class="c-font__list--header" href="">About</a></li>
          <li class="p-header__list"><a class="c-font__list--header" href="">Profile</a></li>
          <li class="p-header__list"><a class="c-font__list--header" href=""></a>Work</li>
          <li class="p-header__list"><a class="c-font__list--header" href=""></a>SKill</li>
          <li class="p-header__list"><a class="c-font__list--header" href=""></a>Contact</li>
        </ul>
      </nav>
      <button class="p-header__open--btn c-btn__nav--open"></button>
    </header>
    <main class="l-main">

    </main>
    <footer class="l-footer p-footer">

    </footer>
  </div>
</body>

</html>