<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>front-page</title>
  <link rel="stylesheet" href="https://use.typekit.net/ffe5yoz.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap" rel="stylesheet">
  <script>
    (function (d) {
      var config = {
        kitId: 'adf1ial',
        scriptTimeout: 3000,
        async: true
      },
        h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
    })(document);
  </script>
</head>

<body>
  <div class="l-wrapper">
    <header class="l-header p-header__content">
      <img class="p-header__background--sp c-img__background--header--sp"
        src="<%= require('./images/header_background_sp.png') %>" alt="">
      <img class="p-header__background--pc c-img__background--header--pc"
        src="<%= require('./images/header_background_pc.png') %>" alt="">
      <div class="p-header__title">
        <img class="c-img__title--header--front" src="<%= require('./images/front-page_header_title.svg') %>"
          alt="フロントページシンボル">
      </div>
      <div class="p-header__main">
        <img class="p-header__img--sp c-img__main--header--sp"
          src="<%= require ('./images/front-page_header_background_sp.png') %>" alt="">
        <img class="p-header__img--pc c-img__main--header--pc"
          src="<%= require ('./images/front-page_header_background_pc.png') %>" alt="">
        <img class="p-header__catchcopy--pc c-img__catchcopy--pc"
          src="<%= require('./images/front-page_header_catchcopy_pc.png') %>" alt="">
        <img class="p-header__catchcopy--sp--lv1 c-img__catchcopy--sp"
          src="<%= require('./images/front-page_header_catchcopy1_sp.png') %>" alt="">
        <img class="p-header__catchcopy--sp--lv2 c-img__catchcopy--sp"
          src="<%= require('./images/front-page_header_catchcopy1_sp.png') %>" alt="">
        <img class="p-header__present c-img__present" src="<%= require ('./images/front-page_header_present.png') %>"
          alt="">
      </div>
      <nav class="p-header__nav">
        <button class="p-header__close--btn c-btn__nav--close"><img
            src="<%= require('./images/header_nav_btn_close.svg') %>" alt="メニュー閉じるアイコン"></button>
        <div class="p-header__menu">
          <ul class="p-header__list">
            <li class="p-header__item"><a class="c-font__list--header" href="">Top</a></li>
            <li class="p-header__item"><a class="c-font__list--header" href="">About</a></li>
            <li class="p-header__item"><a class="c-font__list--header" href="">Profile</a></li>
            <li class="p-header__item"><a class="c-font__list--header" href="">Work</a></li>
            <li class="p-header__item"><a class="c-font__list--header" href="">SKill</a></li>
            <li class="p-header__item"><a class="c-font__list--header" href="">Contact</a></li>
          </ul>
        </div>

      </nav>
      <button class="p-header__open--btn"><img class="c-btn__nav--open"
          src="<%= require('./images/header_nav_btn.svg') %>" alt="メニュー開くアイコン"></button>
    </header>
    <main class="l-main">
      <section class="p-about__container">
        <div class="p-about__heading">
          <h2 class="p-about__title--font c-font__heading--about">About</h2>
          <div class="p-about__title--circle--large c-circle--large"></div>
          <div class="p-about__title--circle--small">
            <div class="c-circle--small"></div>
            <div class="c-circle--small"></div>
            <div class="c-circle--small"></div>
          </div>
        </div>
        <h3 class="p-about__sbu-heading c-font__sub-heading--about">大切にしていること</h3>
        <article class="p-about__card">
          <img class="p-about__icon c-icon__about c-icon__about"
            src="<%= require('./images/front-page_about_research.png') %>" alt="Aboutアイコン1">
          <div class="p-about__post">
            <div class="p-post__box">
              <img class="c-icon__post" src="<%= require('./images/front-page_about_research_icon.svg') %>">
              <h3 class="p-post__heading--about c-font__heading--post">ゴールを見失わない</h3>
            </div>
            <p class="p-post__text--about c-font__text">
              作り始める前にゴールを設定します。企画内容やデザインの世界観などを大事にすることを明確にし、徹底的にリサーチ、情報を整理して構成を練ります。
            </p>
          </div>
        </article>
        <article class="p-about__card">
          <img class="p-about__icon c-icon__about c-icon__about"
            src="<%= require('./images/front-page_about_idea.png') %>" alt="Aboutアイコン1">
          <div class="p-about__post">
            <div class="p-post__box">
              <img class="c-icon__post" src="<%= require('./images/front-page_about_idea_icon.svg') %>">
              <h3 class="p-post__heading--about c-font__heading--post">一瞬で伝わるデザイン</h3>
            </div>
            <p class="p-post__text--about c-font__text">
              作わかりやすいデザインであること。一番伝えたい事を、一瞬で伝えたいと思っています。
              最小限且つ過不足のない言葉とコンテンツで伝えることを心がけています。わくわくする事も忘れずに。
            </p>
          </div>
        </article>
        <article class="p-about__card">
          <img class="p-about__icon c-icon__about c-icon__about"
            src="<%= require('./images/front-page_about_policy.png') %>" alt="Aboutアイコン1">
          <div class="p-about__post">
            <div class="p-post__box">
              <img class="c-icon__post" src="<%= require('./images/front-page_about_policy_icon.svg') %>">
              <h3 class="p-post__heading--about c-font__heading--post">成果がなきゃ意味がない</h3>
            </div>
            <p class="p-post__text--about c-font__text">
              バナーは「押してもらえるような目を引くデザイン」 Webデザインは「作った後にコーディングすることを考えながら」 ただ作るだけではなく、成果が出る事やその後の工程を考えています。
            </p>
          </div>
        </article>
        <div class="p-about__gap">
          <div class="p-about__circle--lv1 c-circle__gap"></div>
          <div class="p-about__circle--lv2 c-circle__gap"></div>
          <div class="p-about__circle--lv3 c-circle__gap"></div>
          <div class="p-about__circle--lv4 c-circle__gap"></div>
          <div class="p-about__circle--lv5 c-circle__gap"></div>
        </div>
        <article class="p-about__card--goal">
          <img class="p-about__icon c-icon__about c-icon__about"
            src="<%= require('./images/front-page_about_goal.png') %>" alt="Aboutアイコン1">
          <div class="p-about__post--goal">
            <p class="c-font__heading--post">
              そんなデザインを、
              一緒に作り上げることを大切にしたいです
            </p>
          </div>
        </article>
      </section>
      <section class="p-profile__warpper">
        <div></div>
        <div></div>
        <div class="p-profile__container">
          <div class="p-about__heading">
            <h2 class="p-about__title--font c-font__heading--about">Profile</h2>
            <div class="p-about__title--circle--large c-circle--large--white"></div>
            <div class="p-about__title--circle--small">
              <div class="c-circle--small--white"></div>
              <div class="c-circle--small--white"></div>
              <div class="c-circle--small--white"></div>
            </div>
          </div>
          <div class="p-profile__group">

          </div>
        </div>
        <div></div>
        <div></div>
      </section>
      <div>

      </div>
    </main>
    <footer class="l-footer p-footer">

    </footer>
  </div>
</body>

</html>