<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>work-page</title>
  <link rel="stylesheet" href="https://use.typekit.net/ffe5yoz.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap" rel="stylesheet">
  <script>
    (function (d) {
      var config = {
        kitId: 'adf1ial',
        scriptTimeout: 3000,
        async: true
      },
        h = d.documentElement, t = setTimeout(function () { h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive"; }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a; h.className += " wf-loading"; tk.src = 'https://use.typekit.net/' + config.kitId + '.js'; tk.async = true; tk.onload = tk.onreadystatechange = function () { a = this.readyState; if (f || a && a != "complete" && a != "loaded") return; f = true; clearTimeout(t); try { Typekit.load(config) } catch (e) { } }; s.parentNode.insertBefore(tk, s)
    })(document);
  </script>
</head>

<body>
  <header id="top" class="l-header p-header__content--work">
    <img class="p-header__background--sp c-img__background--header--sp"
      src="<%= require('./images/header_background_sp.png') %>" alt="">
    <img class="p-header__background--pc c-img__background--header--pc"
      src="<%= require('./images/header_background_pc.png') %>" alt="">
    <div class="p-header__title--work">
      <img class="c-img__title--header--work" src="<%= require('./images/work-page_header_title.svg') %>"
        alt="フロントページシンボル">
    </div>
    <div class="p-header__main--work">
      <img class="p-header__img--sp--work c-img__main--header--sp--work"
        src="<%= require ('./images/work-page_header_background_sp.png') %>" alt="背景">
      <img class="p-header__img--pc--work c-img__main--header--pc--work"
        src="<%= require ('./images/work-page_header_background_pc.png') %>" alt="背景">
      <img class="p-header__catchcopy--work c-img__catchcopy--work"
        src="<%= require('./images/work-page_header_catchcopy.png') %>" alt="キャッチコピー">
    </div>
    <nav class="p-header__nav">
      <button class="p-header__close--btn c-btn__nav--close"><img
          src="<%= require('./images/header_nav_btn_close.svg') %>" alt="メニュー閉じるアイコン"></button>
      <div class="p-header__menu">
        <ul class="p-header__list">
          <li class="p-header__item">
            <a class="c-font__list--header" href="index.html#top">
              Top
            </a>
          </li>
          <li class="p-header__item">
            <a class="c-font__list--header" href="index.html#about">
              About
            </a>
          </li>
          <li class="p-header__item">
            <a class="c-font__list--header" href="index.html#profile">
              Profile
            </a>
          </li>
          <li class="p-header__item">
            <a class="c-font__list--header" href="index.html#work">
              Work
            </a>
          </li>
          <li class="p-header__item">
            <a class="c-font__list--header" href="index.html#skill">
              SKill
            </a>
          </li>
          <li class="p-header__item">
            <a class="c-font__list--header" href="index.html#contact">
              Contact
            </a>
          </li>
        </ul>
      </div>

    </nav>

    <button class="p-header__open--btn">
      <img class="c-btn__nav--open" src="<%= require('./images/header_nav_btn.svg') %>" alt="メニュー開くアイコン">
    </button>
  </header>
  <main class="l-main">
    <section class="p-production__wrapper">
      <div class="p-production__box">
        <!-- タイトル -->
        <div class="p-production__area--title">
          <dl class="p-production__day c-font__day--production">
            <dt>
              2021.11
            </dt>
            <dd>
              BANNER DESIGN
            </dd>
          </dl>
          <div class="p-production__heading">
            <h3 class="p-production__title--client c-font__title--production">
              株式会社RaiseTech様
            </h3>
            <h3 class="p-production__title--product c-font__title--production">
              SNS広告バナー
          </div>
          </h3>
          <div class="p-production__lead">
            <dl class="p-production__weapon c-font__weapon--production">
              <dt>
                使用ツール
              </dt>
              <dd>
                Photoshop
              </dd>
            </dl>
            <dl class="p-production__period c-font__weapon--production">
              <dt>
                制作期間
              </dt>
              <dd>
                １週間
              </dd>
            </dl>
          </div>
        </div>
        <!-- 概要 -->
        <div class="p-production__outline">
          <div>
            <img src="<%= require('./images/work-page_outline_raise-tech_banner-1.png') %>" alt="raise techのbanner1">
            <img src="<%= require('./images/work-page_outline_raise-tech_banner-2.png') %>" alt="raise techのbanner2">
            <img src="<%= require('./images/work-page_outline_raise-tech_banner-3.png') %>" alt="raise techのbanner3">
          </div>
        </div>
        <!-- 詳細 -->
        <!-- <div class="p-production">
          <div class="p-production__item--detail">
            <img src="" alt="">
          </div>
        </div> -->
        <!-- 説明 -->
        <div class="p-production__area--about">
          <div class="p-production__flow">
            <h5 class="p-production__sub-heading c-font__flow">FLOW</h5>
            <dl class="p-production__about c-font__text--work">
              <dt>・ターゲット</dt>
              <dd>ある程度スクールやエンジニア転職、副業に興味がある人</dd>
            </dl>
            <dl class="p-production__about c-font__text--work">
              <dt>・目的</dt>
              <dd>LINE公式アカウントへの登録、無料説明会へ動員</dd>
            </dl>
            <div class="p-production__text c-font__text--work">
              <p>
                スクールのバナーコンペに応募し、入賞したバナーです。実際にInstagramの広告で流していただけました。
                まずターゲットを設定。私もスクールを選ぶ側の人間でしたので、自分だったらどんな言葉や内容に惹かれるかを考えました。
                LINE公式アカウントに登録すると配信で何がわかるのか、実際にスクールの公式LINEに登録していたのを見返して分析、情報を整理しました。
              </p>
              <dl>
                <dt>1.キーワードを捻出</dt>
                <dd>
                  就職・転職、在宅ワーク、副業、未経験から、稼げる、フリーランス、自由な働き方、手に職、スキル...etc
                </dd>
                <dt>2.スクールの強み</dt>
                <dd>
                  最速で稼げる、実践的、現場レベル、現役講師、永久サポート、仕事に繋がる技術、オンライン、働きながら学べる、質疑応答無制限
                </dd>
                <dt>3.よくある質問、悩み</dt>
                <dd>
                  初心者・未経験でも大丈夫？年齢制限は？稼ぐための最短ロードマップは？エンジニアに興味があるけど向いているだろうか
                </dd>
              </dl>
              <p>
                キャッチコピーをいくつか作り、そこから絞り込んでデザインを作り始めました。バナーを作るのは初めてで、Photoshopを触るのも初めてでしたので、ツールの使い方を学びながらの制作となりましたが、「初めてでこれだけ作れたらすごい」と高評価をいただけました!
                3枚目の「あなたがしたいのはどれ？」というキャッチコピーのバナーではニューモフィズムを使用し、ボタンを並べるようなデザインにすることで、実際に押したくなってしまうような狙いで仕上げた所、他のバナーの3〜6倍高いクリック率でした。実績としては、15日間流していただいて獲得件数72件、スクールの無料説明会には1名の方を動員することができました。また、これまでの広告からの流入者の平均ブロック率は35%だったところ、私が制作した広告バナーからの流入者のブロック率は平均24%と、かなり抑えられました。
                ※スクール側からはポートフォリオへの実績公開の了承を得ています。
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="l-footer p-footer">
    <div class="p-footer__box">
      <div class="p-footer__link">
        <a href="">
          <img class="c-img__link--footer--twitter"
            src="<%= require('./images/front-page_footer_link_icon_twitter.svg') %>" alt="twitter">
        </a>
        <a href="">
          <img class="c-img__link--footer--instagram"
            src="<%= require('./images/front-page_footer_link_icon_instagram.svg') %>" alt="Instagram">
        </a>
        <a href="">
          <img class="c-img__link--footer--mail" src="<%= require('./images/front-page_footer_link_icon_mail.svg') %>"
            alt="mail">
        </a>
      </div>
      <div class="p-footer__title">
        <p class="c-font__footer--title">naolabo</p>
        <p class="c-font__footer--sub-title">©︎2022naolabdesign</p>
      </div>
      <button class="p-footer__btn c-btn__footer">
        <p class="c-font__btn--footer">top</p>
      </button>
    </div>

  </footer>
</body>

</html>